.explore-f{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.explore-food h1{
    color: #262626;
    font-weight: 500;
}
.explore-food-text{
    max-width: 60%;
    columns: #808080;

}
.explore-food-list{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}
.explore-food-list::-webkit-scrollbar{
    display: none;

}
.explore-food-list-item img{
    width: 9.5vw;
    min-width: 80px;
    border-radius: 50%;
    transition: 0.2s;
}
.explore-food-list-item p{
    margin-top: 10px;
    color: black;
    font-size: max((1.4vw));
    cursor: pointer;

}
.explore-food hr{
    margin-top: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;

}
.explore-food-list-item .active{
    border: 5px solid tomato;
    padding: 2px;

}
@media (max-width:1050px){
    .explore-food-text{
      max-width: 100%;
      font-size: 14px;
    }
}


















